{% extends 'baseLogin.html' %}
{% load static %}
{% block content %}
<head>
    <title>BookVerse | Inicio de sesión</title>
    <link rel="stylesheet" href="{% static 'css/LogIn.css' %}">
</head>

<body class="img js-fullheight" style="background-image: url({% static 'images/library_background.jpg' %})">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">¡Bienvenido a BookVerse!</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">¿Ya tiene una cuenta?</h3>
                        <form method="post" action="{% url 'login' %}" class="signin-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Nombre de Usuario" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" name="password" class="form-control" placeholder="Contraseña" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Iniciar sesión</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Recuerdame
                                        <input type="checkbox" name="remember_me" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="{% url 'registro' %}" style="color: #fff">Crear Cuenta!</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}
