<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="static/Wishlist/wishlist.css">

<title>BookVerse | Wishlist</title>
<body class="body" style="background-image: none;">
    <section class="h-100 h-custom">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
    
                    <div class="table-responsive">
                        <table class="table">

                            <thead>
                                <tr>
                                <th scope="col">Wishlist</th>
                                <th scope="col">Titulo y Autor</th>
                                <th scope="col">Formato</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.imgur.com/2DsA49b.webp" class="img-fluid rounded-3"
                                                style="width: 120px;" alt="Book">
                                        </div>
                                    </th>
                                    <td class="align-middle">
                                        <div class="flex-column ms-4">
                                            <p class="mb-2">Thinking, Fast and Slow</p>
                                            <p class="mb-0">Daniel Kahneman</p>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;">Digital</p>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;">$9.99</p>
                                    </td>
                                    <td class="align-middle">
                                        <button type="button" class="btn btn-dark">
                                            <i class="bi bi-basket-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
        
                </div>
            </div>
        </div>
    </section>
</body>